<a href="https://colab.research.google.com/github/curiousbasil/IS651J2Pythonhw2pandas/blob/master/Python_Assignment_2_Pandas_Due_March_11_IS651J2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Please use Pandas dataFrame to work on the following questions
For each question, I have produced the output for you, so you know what I expect your code to generate. BE CAREFUL, once you run your code, my output will be gone.

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd

In [10]:
# For this practice, please make sure that you download the "flights.csv" file to your Jupyter folder
# Read flights.csv as a dataframe called flight
flights_df = pd.read_csv('/content/drive/My Drive/NJIT/Spring 2020/Data Analytics -  IS 6651J2/flights.csv')
flights_df

   Airport code         Country  ...   Latitude  Longitude
0           PRG  Czech Republic  ...  50.075538  14.437800
1           VIE         Austria  ...  48.208174  16.373819
2           PRG  Czech Republic  ...  50.075538  14.437800
3           MSQ         Belarus  ...  53.904540  27.561524
4           PRG  Czech Republic  ...  50.075538  14.437800
5           TMP         Finland  ...  61.497752  23.760954
6           PRG  Czech Republic  ...  50.075538  14.437800
7           HAM         Germany  ...  53.551085   9.993682
8           PRG  Czech Republic  ...  50.075538  14.437800
9           ATH          Greece  ...  37.983810  23.727539
10          PRG  Czech Republic  ...  50.075538  14.437800
11          DUB         Ireland  ...  53.349805  -6.260310
12          PRG  Czech Republic  ...  50.075538  14.437800
13          MRS          France  ...  43.296482   5.369780
14          PRG  Czech Republic  ...  50.075538  14.437800
15          AMS     Netherlands  ...  52.370216   4.895168
16          PRG  Czech Republic  ...  50.075538  14.437800
17          WAW          Poland  ...  52.229676  21.012229
18          PRG  Czech Republic  ...  50.075538  14.437800
19          LIS        Portugal  ...  38.722252  -9.139337
20          PRG  Czech Republic  ...  50.075538  14.437800
21          BEG          Serbia  ...  44.786568  20.448922
22          PRG  Czech Republic  ...  50.075538  14.437800
23          IST          Turkey  ...  41.008238  28.978359
24          PRG  Czech Republic  ...  50.075538  14.437800
25          DNK         Ukraine  ...  48.464717  35.046183
26          PRG  Czech Republic  ...  50.075538  14.437800
27          FRA         Germany  ...  50.110922   8.682127
28          PRG  Czech Republic  ...  50.075538  14.437800
29          SOF        Bulgaria  ...  42.697708  23.321868

[30 rows x 8 columns]

In [11]:
# Question 1: Check the column head of the table
flights_df.columns

Index(['Airport code', 'Country', 'City', 'Path ID', 'Path Order',
       'Flow Amount (t)', 'Latitude', 'Longitude'],
      dtype='object')

In [12]:
# Question 2: Find how many rows are in the table (HINT: info.)
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
Airport code       30 non-null object
Country            30 non-null object
City               30 non-null object
Path ID            30 non-null object
Path Order         30 non-null int64
Flow Amount (t)    15 non-null float64
Latitude           30 non-null float64
Longitude          30 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.0+ KB

In [13]:
flights_df.describe()

       Path Order  Flow Amount (t)   Latitude  Longitude
count   30.000000        15.000000  30.000000  30.000000
mean     1.500000       616.000000  49.110501  15.011317
std      0.508548       394.783847   4.703860   8.990822
min      1.000000        50.000000  37.983810  -9.139337
25%      1.000000       315.000000  48.867422  14.437800
50%      1.500000       550.000000  50.075538  14.437800
75%      2.000000       865.000000  50.075538  19.430146
max      2.000000      1300.000000  61.497752  35.046183

In [14]:
# Question 3: What is the average flow amount?
# HINT: Here is one very good example of why the iloc function is useful -- the column name "Flow Amount (t)" would be
# inconvenient to type, so you might want to use the position of the column instead... If you prefer column name, that 
# is fine, too.
flights_df.iloc[:,[5]].mean()

Flow Amount (t)    616.0
dtype: float64

In [15]:
# Question 4: What is the highest flow amount?
flights_df.iloc[:,[5]].max()

Flow Amount (t)    1300.0
dtype: float64

In [16]:
# Question 5: Which city has the flow amount of 550?
# Hint: Recall back to our discussion on the relational algebra of SELECTION and the Python bracket notation 
flights_df.loc[flights_df['Flow Amount (t)'] == 550]

   Airport code Country    City  ... Flow Amount (t)   Latitude  Longitude
17          WAW  Poland  Warsaw  ...           550.0  52.229676  21.012229

[1 rows x 8 columns]

In [17]:
# Now let's work with the GBI Excel sheet -- if you have done the IO lab, the file should already be in your working folder. 
# Otherwise, please go to canvas and find the file under the IO lab, download it to your working folder. Read GBI file and name it
# GBI
gbi_df = pd.read_excel('/content/drive/My Drive/NJIT/Spring 2020/Data Analytics -  IS 6651J2/GBI.xlsx')
gbi_df

       YEAR  MONTH  DAY  ...  Revenue USD Discount USD Cogm USD
0      2007      1    1  ...      6000.00        300.0   2800.0
1      2007      1    1  ...     16000.00        800.0   7500.0
2      2007      1    1  ...      2400.00        120.0   1200.0
3      2007      1    1  ...      1600.00         80.0    900.0
4      2007      1    1  ...     11900.00        595.0   7000.0
...     ...    ...  ...  ...          ...          ...      ...
48379  2011     12   31  ...        58.37          0.0     25.0
48380  2011     12   31  ...        42.04          0.0     18.0
48381  2011     12   31  ...        37.37          0.0     16.0
48382  2011     12   31  ...        65.39          0.0     28.0
48383  2011     12   31  ...        46.70          0.0     20.0

[48384 rows x 23 columns]

In [18]:
# Question 6: What is the average REVENUE for each Product Category? [HINT: You need to group by Product Category]
gbi_df.groupby(['Product Category', 'Revenue'], as_index=False).mean().groupby('Product Category')['Revenue'].mean()

Product Category
ACC      390.885874
EBI    25561.880000
ORB    28989.351124
ROB    28077.228715
TOU    37645.538578
TRE     2222.711667
Name: Revenue, dtype: float64

In [19]:
gbi_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'Customer', 'CustomerDescr', 'City', 'Salesorg',
       'Country', 'OrderNumber', 'OrderItem', 'Product', 'ProductDescr',
       'Product Category', 'Division', 'SalesQuantity', 'UnitOfMeasure',
       'Revenue', 'Currency', 'Discount', 'CostOfGoodsManufactured',
       'Revenue USD', 'Discount USD', 'Cogm USD'],
      dtype='object')

In [20]:
# Question 7: How many transations have the lowest revenue?
gbi_df[(gbi_df.Revenue < 14.8 )]

       YEAR  MONTH  DAY  ...  Revenue USD Discount USD Cogm USD
107    2007      1    3  ...        19.79         0.00      9.0
125    2007      1    4  ...        19.79         1.00      9.0
132    2007      1    4  ...        19.79         0.59      9.0
226    2007      1    6  ...        19.79         0.00      9.0
350    2007      1   15  ...        19.79         0.00      9.0
...     ...    ...  ...  ...          ...          ...      ...
10370  2007     12   19  ...        19.79         0.00      9.0
10429  2007     12   21  ...        19.79         0.59      9.0
10439  2007     12   21  ...        19.79         0.00      9.0
10474  2007     12   26  ...        19.79         0.00      9.0
10550  2007     12   31  ...        19.79         0.59      9.0

[78 rows x 23 columns]

In [21]:
# Question 8: What is the average revenue for each year? 
gbi_df.groupby(['YEAR', 'Revenue'], as_index=False).mean().groupby('YEAR')['Revenue'].mean()

YEAR
2007    20486.071353
2008    19500.387539
2009    16939.869184
2010    16670.179526
2011    17695.881667
Name: Revenue, dtype: float64

In [22]:
product_descr = gbi_df.ProductDescr.unique()
product_descr

array(['Deluxe Touring Bike (silver)',
       'Professional Touring Bike (silver)', "Men's Off Road Bike Fully",
       "Men's Off Road Bike Hard Tail (Shimano)",
       'Deluxe Road Bike (Shimano)', 'Deluxe Road Bike (SRAM)',
       'Professional Road Bike (Shimano)', 'Off Road Helmet',
       'Water Bottle Cage', 'Repair Kit', 'Air Pump', 'First Aid Kit',
       'Deluxe Touring Bike (black)', 'Professional Touring Bike (red)',
       "Women's Off Road Bike Fully", 'T-shirt', 'Road Helmet',
       'Water Bottle', 'Deluxe Touring Bike (red)',
       'Professional Touring Bike (black)',
       "Men's Off Road Bike Hard Tail (SRAM)", 'Knee Pads',
       'Professional Road Bike (Campagnolo)', 'Elbow Pads',
       'Professional Road Bike (SRAM)', 'City Bike Max',
       'Fixed Gear Bike Plus', 'E-Bike Tailwind'], dtype=object)

In [23]:
# Question 9: How many unique product names are there? 
# HINT: 1. ProductDecr has all product names
# 2. unique() returns an ARRAY
# 3. numpy has a size function that returns the size of an array. Check the Web and learn how to use it
product_descr = gbi_df.ProductDescr.unique()
product_descr

array(['Deluxe Touring Bike (silver)',
       'Professional Touring Bike (silver)', "Men's Off Road Bike Fully",
       "Men's Off Road Bike Hard Tail (Shimano)",
       'Deluxe Road Bike (Shimano)', 'Deluxe Road Bike (SRAM)',
       'Professional Road Bike (Shimano)', 'Off Road Helmet',
       'Water Bottle Cage', 'Repair Kit', 'Air Pump', 'First Aid Kit',
       'Deluxe Touring Bike (black)', 'Professional Touring Bike (red)',
       "Women's Off Road Bike Fully", 'T-shirt', 'Road Helmet',
       'Water Bottle', 'Deluxe Touring Bike (red)',
       'Professional Touring Bike (black)',
       "Men's Off Road Bike Hard Tail (SRAM)", 'Knee Pads',
       'Professional Road Bike (Campagnolo)', 'Elbow Pads',
       'Professional Road Bike (SRAM)', 'City Bike Max',
       'Fixed Gear Bike Plus', 'E-Bike Tailwind'], dtype=object)

In [24]:
np.size(product_descr)

28